{% extends "base.html" %}
{% block title %}Created Project{% endblock %}

{% block content %}

    <h1>Create Project</h1>
    <form action="" method="post">
        {% csrf_token %}

        <label>Status:</label><br/>
        <select name="status">
            {% for status in statuses %}
                <option value="{{ status.0 }}">{{ status.1 }}</option>
            {% endfor %}
        </select>
        <br/>

        {% include "partial/form.html" with button_text="Created"%}

    </form>
    <a href="{% url "index" %}">Main page</a>

{% endblock %}
