{% extends "base.html" %}
{% load static %}

{% block nav %}
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{% url "create_article" %}">Created Project</a>
    </li>
{% endblock %}


{% block content %}

        <a href="{% url "create_article" %}">Created Projects</a>
        <h1>Projects</h1>
        {% for article in articles %}
            <h3>{{ article.project }}</h3> <span>{{ article.status }}</span>
            <p><a href="{% url "article_view" article.pk %}">more</a></p>
        {% endfor %}

{% endblock %}
