{% extends "base.html" %}
{% load static %}

{% block nav %}
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{% url "create_article" %}">Created Project</a>
    </li>
{% endblock %}


{% block content %}

        <h1>Projects</h1>
        <div class="row">
            {% for article in articles %}
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">{{ article.project }}</h3> <span>{{ article.status }}</span>
                            <p><a href="{% url "article_view" article.pk %}">more</a></p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

{% endblock %}
